{{! This is the post loop - each post will be output using this markup }}
        <div class="row">
{{#foreach posts}}
            <div class="col-md-4 post-summary">
                <article class="panel panel-default">
                    <header class="panel-heading">
                        <h2 class="panel-title"><a href="{{url}}">{{{title}}}</a></h2>
                    </header>
                    <section class="panel-body">
                        <p>{{excerpt words="26"}}</p>
                        <a class="read-more" href="{{url}}"> READ MORE &raquo;</a>
                    </section>
                    <footer class="panel-footer">
                        {{author}}
                        {{tags prefix=" tagged "}} on
                        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    </footer>
                </article>
            </div>
{{/foreach}}
        </div>

        <div class="row">
            <div class="col-md-12">
            {{! Previous/next page links - displayed on every page }}
            {{pagination}}
            </div>
        </div>
