                            {{#author}}
                                <section class="author">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{#if image}}<img class="img-responsive thumbnail" src="{{image}}" width="80" alt="Author image" nopin="nopin" /></a>{{/if}}
                                        </div>
                                        <div class="col-md-9">
                                            <h4><a href="{{url}}">{{name}}</a></h4>
                                            {{#if bio}}
                                                <p>{{bio}}</p>
                                            {{else}}
                                                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                                            {{/if}}
                                            <div class="author-meta">
                                                {{#if location}}<i class="fa fa-map-marker"></i> {{location}}</span>{{/if}}
                                                {{#if website}}<br /><i class="fa fa-link"></i> <a href="{{website}}">{{website}}</a></span>{{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {{/author}}
