{{!< default}}
{{> "navbar"}}

{{#author}}
    {{#if cover}}
    <div class="jumbotron site-masthead" style="background: url('{{cover}}') center center no-repeat; background-size: 100%;">
      <div class="container"></div>
    </div>
    {{/if}}
    <div id="content" class="container" role="content">
        <section class="author-profile row">
            <div class="col-md-2">
                <figure class="author-image">
                    <img class="img-circle" src="{{image}}" />
                </figure>
            </div>
            <div class="col-md-10">
                <h1 class="author-title">{{name}}</h1>
                <p class="lead author-bio">{{bio}}</p>
                <div class="author-meta">
                    <p>
                        {{#if location}}<i class="fa fa-map-marker"></i> {{location}}</span>{{/if}}
                        {{#if website}}<i class="fa fa-link"></i> <a href="{{website}}">{{website}}</a></span>{{/if}}
                        <span class="author-stats"><i class="fa fa-pencil-square-o"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
                    </p>
                </div>
            </div>
        </section>
    </div>
{{/author}}

    <div id="content" class="container" role="content">
        {{> "loop"}}
    </div>